# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build outputs
dist/
coverage/

# Environment
.env
.env.local
.env.*.local

# Aptible / Docker
.aptible.env
Dockerfile.dev
docker-compose*.yml

# Misc
*.log
*.tmp
.DS_Store

.envrc
